@use 'mobile';

@font-face {
  font-family: 'Nekst';
  font-weight: 500;
  src: url('../fonts/Nekst-Medium.woff2') format('woff2'),
    url('../fonts/Nekst-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Nekst';
  font-weight: normal;
  src: url('../fonts/Nekst-Regular.woff2') format('woff2'),
    url('../fonts/Nekst-Regular.woff') format('woff');
}

:root {
  --gray-15: #262626;
  --gray-35: #595959;
  --red: #FF3A30;
  --video-shadow:
    0 0 0 5px black,
    0 16px 40px 0px rgba(0, 0, 0, 0.1),
    0 0 5px 0px rgba(0, 0, 0, 0.05);
  --video-br: 36px;
}

p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 340px;
  max-width: 2560px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  max-width: 2560px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-left: 30px;
  align-items: stretch;
}

header.over-plans .logo-normal {
  visibility: hidden;
  opacity: 0;
}

header.over-plans .logo-white {
  visibility: visible;
  opacity: 1;
}

header.over-plans .language {
  color: white;
}

header.over-plans .beta-access {
  background: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo img {
  display: block;
  transition: opacity 0.2s, visibility 0.2s;
}

.logo .logo-white {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}

.language {
  padding: 0 32px;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  transition: color 0.2s, opacity 0.2s;
}

.language:hover {
  opacity: 0.8;
}

.beta-access {
  padding: 0 32px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, opacity 0.2s;
}

.beta-access:hover {
  opacity: 0.8;
}

.slides {
  position: sticky;
  bottom: 0;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.text-content {
  position: absolute;
  width: 720px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  padding: 0 30px;
  visibility: hidden;
}

.text-content.active {
  visibility: visible;
}

.media-content {
  position: absolute;
  width: calc(100% - 720px);
  left: 0;
  right: 0;
  top: 65px;
  bottom: 65px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
  visibility: hidden;
}

.media-content.active {
  visibility: visible;
}

.media-content video {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--video-br);
  box-shadow: var(--video-shadow);
  background: black;
  overflow: hidden;
  display: block;
}

h2 {
  font-family: 'Nekst';
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 15px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

.website {
  margin: 385px 0;
}

.website-text {
  margin: 0 auto 90px;
  max-width: 768px;
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
}

.website-media {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.website-media-container video {
  width: 100%;
  max-width: 1080px;
  display: block;
  border-radius: var(--video-br);
  box-shadow: var(--video-shadow);
  background: black;
  overflow: hidden;
}

footer {
  padding: 68px 30px 54px;
}

.footer-upper {
  margin-bottom: 192px;
  display: flex;
  justify-content: space-between;
}

.footer-lower {
  font-size: 14px;
  color: var(--gray-35);
}

nav {
  display: grid;
  grid-auto-flow: column;
  column-gap: 32px;
}

nav a {
  transition: opacity 0.2s;
}

nav a:hover {
  opacity: 0.8;
}

.nav-column {
  min-width: 208px;
}

.nav-column ul {
  display: grid;
  row-gap: 16px;
  list-style: none;
}

.nav-caption {
  margin-bottom: 32px;
  color: var(--gray-35);
}

.footer-logo {
  max-width: 18px;
}

.dynamic-word {
  display: inline-block;
  position: relative;
  height: 46px;
  line-height: 33px;
  overflow: hidden;
  width: 450px;
  vertical-align: middle;
  margin-bottom: -10px;
  margin-top: -10px;
}

@keyframes word-out {
  from { transform: translateY(0%); }
  to { transform: translateY(-100%); }
}

@keyframes word-in {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}

.dynamic-word p {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  animation: word-out 800ms 1 both;
}

.dynamic-word p.active {
  animation: word-in 800ms 1 both;
}

.plans {
  display: grid;
  grid-template-columns: auto auto;
  color: white;
  text-align: center;
  margin-bottom: 384px;
}

.plan {
  padding: 32px 0 86px;
}

.plan.standard {
  background: #262626;
}

.plan.pro {
  background: black;
}

.plan-title {
  margin-bottom: 24px;
}

.plan-price {
  margin-bottom: 82px;
  line-height: 1;
}

.price-currency {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.price-value {
  font-family: 'Nekst';
  font-size: 56px;
}

.price-period {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 6px;
}

.plan-features {
  list-style: none;
  display: inline-block;
  padding-left: 35px;
  text-align: left;
}

.plan-features li {
  position: relative;
}

.plan-features li:not(:last-child) {
  margin-bottom: 36px;
}

.plan-features li:before {
  content: '';
  background: url('../img/checkmark.svg');
  width: 18px;
  height: 14px;
  position: absolute;
  left: -35px;
  top: 6px;
}

.plan-bottom {
  display: inline-block;
}

.download {
  margin-bottom: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.download-title {
  margin-bottom: 140px;
  color: var(--gray-35);
}

.download-qr-code {
  margin-bottom: 28px;
}

.download-app-store img {
  display: block;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
}

.loader.done {
  opacity: 0;
  visibility: hidden;
}

.form {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  transition: background-color 0.3s, visibility 0.3s;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
}

.beta-access-form.done .form-done {
  display: flex;
  flex: 1;
}

.beta-access-form.done > *:not(.form-done) {
  display: none;
}

.form-done {
  display: none;
  flex-direction: column;
}

.form-done h4 {
  margin: auto 0;
  padding: 0 14px;
}

.form.open {
  visibility: visible;
  background: rgba(0, 0, 0, 0.8);
}

.form.open .form-container {
  transform: translateX(0);
}

.form-container {
  background: white;
  flex: 1;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s;
  max-width: 375px;
}

.form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.form-hide {
  height: 56px;
}

.form-hide button {
  box-sizing: content-box;
  width: 17px;
  height: 100%;
  padding: 0 14px;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  cursor: pointer;
  background: url('../img/arrow-left.svg') center center / 17px 15px no-repeat;
}

.form-header {
  padding: 0 14px;
  margin-bottom: 20px;
}

.form-content {
  padding: 0 14px;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-black {
  height: 60px;
  width: 100%;
  border: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background: black;
  font: inherit;
  transition: background 0.2s, opacity 0.2s;
}

.button-black:hover {
  opacity: 0.8;
}

.input {
  background: var(--gray-15);
  position: relative;
  height: 60px;
}

.select {
  cursor: pointer;
}

.select select {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select::after {
  content: '';
  background: url('../img/chevron-down.svg');
  width: 12px;
  height: 7px;
  position: absolute;
  right: 20px;
  top: 27px;
}

.input:not(:last-child) {
  margin-bottom: 2px;
}

.input input {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  height: 100%;
  background: transparent;
  color: white;
  padding: 0 14px;
  font: inherit;
  line-height: 62px;
}

.placeholder {
  position: absolute;
  z-index: 2;
  left: 14px;
  top: 4px;
  color: var(--gray-35);
  font-size: 12px;
  transition: color 0.2s;
}

.select-placeholder {
  position: absolute;
  left: 14px;
  top: 4px;
  color: var(--gray-35);
  font-size: 12px;
  transition: color 0.2s;
}

.select-value {
  color: white;
  position: absolute;
  left: 14px;
  top: 18px;
}

.input select:invalid + .select-placeholder {
  font-size: 16px;
  top: 18px;
}

.input select:invalid ~ .select-value {
  display: none;
}

.input :invalid:not(:placeholder-shown) + .placeholder {
  color: var(--red);
}

@keyframes text-init {
  from { transform: translateX(30px); }
  to { transform: translateX(0); }
}

@keyframes media-init {
  from { transform: translateX(-30px); }
  to { transform: translateX(0); }
}

.root {
  background: white;
}

.root.initialized .text-content.first > * {
  animation: text-init 0.4s linear 1 both;
}

.root.initialized .media-content.first > * {
  animation: media-init 0.4s linear 1 both;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.loader img {
  animation: blink 0.4s linear infinite alternate both;
}

.beta-access-fixed {
  display: none;
}
